/* 
 * https://github.com/sameemul-haque/dotfiles/blob/mocha/.config/waybar/style.css
 */
/* @import 'gruvbox.css'; */
@import 'gruv.css';
/* @import '../../.cache/wal/colors-waybar.css'; */

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  /* font-family: FiraCode Nerd Font; */
  font-family: JetBrainsMono Nerd Font Mono;
  font-size: 10.5pt;
  /* font-size: 10pt; */
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0;
}

/* WINDOW-TITLE */
#window {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 0 0 0;
  padding: 0 5px 0 5px;
  color: @foreground;
  background-color: @background;
  /* color: @white; */
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

/* WORKSPACES */
#workspaces {
  border: 0;
  border-radius: 12px 12px 12px 12px;
  background-color: @background;
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  color: @foreground;
  /* color: @white; */
  margin: 3px 0 0 3px;
  padding: 0 10px;
}

#workspaces button {
  padding: 0 3px 0 3px;
  color: @foreground;
  /* color: @white; */
}

/* Sets active workspace to have a solid line on the bottom */
#workspaces button.active {
  /* border-bottom: 2px solid @brorange; */
  /* border-radius: 0; */
  /* color: @brorange; */
  color: @color4;
  /* margin-top: 3px; */
  transition: all 0.5s ease-in-out;
}

#workspaces button.visible {
  /* border-bottom: 2px solid @brorange; */
  /* border-radius: 0; */
  /* color: @brorange; */
  color: @color4;
  /* margin-top: 3px; */
  transition: all 0.5s ease-in-out;
}

#workspaces button.urgent {
  color: @color9;
  /* color: @blue; */
}

/* More workspace stuff for highlighting on hover */
#workspaces button.focused {
  color: @color4;
  /* color: @brorange; */
}

#workspaces button:hover {
  background: @color8;
  color: @background;
  /* background: @brblack; */
  /* color: @black; */
}

/* NETWORK */
#network {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 0 0 0;
  padding: 0 3px 0 3px;
  color: @foreground;
  background-color: @background;
  /* color: @white; */
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

/* MPRIS */
#mpris {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 0 0 0;
  padding: 0 3px 0 3px;
  /* color: @white; */
  /* background-color: @black; */
  color: @foreground;
  background-color: @background;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

#custom-nowplaying {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 0 0 0;
  padding: 0 3px 0 3px;
  color: @foreground;
  background-color: @background;
  /* color: @white; */
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

/* DOCKER */
#custom-docker {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 0 0 0;
  padding: 0 3px 0 3px;
  color: @foreground;
  background-color: @background;
  /* color: @white; */
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

#custom-pickcolor {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 0 0 0;
  padding: 0 3px 0 3px;
  color: @foreground;
  background-color: @background;
  /* color: @white; */
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

/* VPN */
#custom-vpn {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 0 0 0;
  padding: 0 3px 0 3px;
  color: @foreground;
  background-color: @background;
  /* color: @white; */
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

#custom-colorpicker {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 0 0 0;
  padding: 0 3px 0 3px;
  color: @foreground;
  background-color: @background;
  /* color: @white; */
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

/* WEATHER */
/* margin: 3px 3px 0 0; right side*/
#custom-weather {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 3px 0 0; /*right side*/
  padding: 0 5px 0 5px;
  color: @foreground;
  background-color: @background;
  /* color: @white; */
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

/* GROUP-DATA [memory, disk]*/
#group-data {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 3px 0 0;
  padding: 0 5px 0 5px;
  background-color: @background;
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}
#memory {
  border-radius: 12px 12px 12px 12px;
  margin: 0 3px 0 0;
  color: @foreground;
  background-color: @background;
  /* color: @white; */
  /* background-color: @black; */
}
#disk {
  border-radius: 12px 12px 12px 12px;
  margin: 0 0 0 3px;
  color: @foreground;
  background-color: @background;
  /* color: @white; */
  /* background-color: @black; */
}

/* GROUP-WIDGETS */
#group-widgets {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 0 0 0;
  padding: 0 5px 0 5px;
  background-color: @background;
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}
/* UPDATE */
#custom-updates {
  color: @foreground;
  /* color: @white; */
}

#custom-aur {
  color: @foreground;
  /* color: @white; */
}

#custom-arch {
  color: @foreground;
  /* color: @white; */
}

#custom-trash {
  color: @foreground;
  /* color: @white; */
}

/* CLOCK */
#clock {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 0 0 3px;
  background-color: @background;
  color: @foreground;
  /* background-color: @black; */
  /* color: @white; */
  padding: 0 10px;
  border: 0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

/* TRAY */
#tray {
  color: @foreground;
  /* color: @white; */
}

/* GROUP-SYSTEM */
#group-system {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 3px 0 0; /*right side*/
  padding: 0 5px 0 5px;
  background-color: @background;
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

#pulseaudio {
  color: @color2;
  /* color: @green; */
}

#pulseaudio.muted {
  color: @color1;
  /* color: @brred; */
}

#battery {
  color: @color10;
  /* color: @charge-battery; */
}

/* BLUETOOTH */
#bluetooth {
  color: @color12;
  /* color: @bluetooth; */
}

/* GROUP-CLOCK */
#group-clock {
  border-radius: 12px 12px 12px 12px;
  margin: 3px 3px 0 0; /*right side*/
  padding: 0 5px 0 5px;
  background-color: @background;
  /* background-color: @black; */
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}
